<clr-main-container class="main-container">

  <clr-alert [clrAlertType]="alert.level" [clrAlertAppLevel]="true" *ngIf="alert">
    <clr-alert-item>
        <span class="alert-text">
            {{ alert.text }}
        </span>
    </clr-alert-item>
  </clr-alert>

  <app-header></app-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <app-sidebar class="sidenav" [clr-nav-level]="1" *ngIf="sidebar"></app-sidebar>
  </div>
</clr-main-container>
