<section class="sidenav-content">
  <a class="nav-link" [routerLink]="['/', 'dashboard']" routerLinkActive="active">Home</a>

  <section *ngFor="let item of nav" class="nav-group collapsible">
    <input id="{{ item.name + 'tab' }}" type="checkbox">
    <label for="{{ item.name + 'tab' }}">{{ item.name }}</label>
    <ul class="nav-list">
      <li *ngFor="let child of item.children"><a class="nav-link" [routerLink]="child.link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ child.name }}</a></li>
    </ul>
  </section>

</section>
